In [1]:
import pandas as pd 
import numpy as py 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score , mean_squared_error , mean_absolute_error

In [3]:
df = pd.read_csv("Melbourne.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,PN,Harcourts,26-08-2017,27.2,3024.0,...,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,S,hockingstuart,26-08-2017,27.2,3024.0,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26-08-2017,12.7,3085.0,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26-08-2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26-08-2017,6.3,3013.0,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [4]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             5151
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          4481
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           1
Propertycount        1
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23547 entries, 0 to 23546
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         23547 non-null  object
 1   Address        23547 non-null  object
 2   Rooms          23547 non-null  int64
 3   Type           23547 non-null  object
 4   Price          18396 non-null  float64
 5   Method         23547 non-null  object
 6   SellerG        23547 non-null  object
 7   Date           23547 non-null  object
 8   Distance       23546 non-null  float64
 9   Postcode       23546 non-null  float64
 10  Bedroom2       19066 non-null  float64
 11  Bathroom       19063 non-null  float64
 12  Car            18921 non-null  float64
 13  Landsize       17410 non-null  float64
 14  BuildingArea   10018 non-null  float64
 15  YearBuilt      11540 non-null  float64
 16  CouncilArea    15656 non-null  object
 17  Lattitude      19243 non-null  float64
 18  Longtitude     19243 non-null  float64
 19  Regionname     23546 non-null  object
 20  Propertycount  23546 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 3.8+ MB

In [6]:
#price colm correction

pd.options.display.float_format = '{:.0f}'.format
pm = df['Price'].mean()
df['Price'].fillna(pm , inplace = True)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\3578272623.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price'].fillna(pm , inplace = True)

In [7]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,NaN,NaN,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [10]:
# pd.options.display.float_format = '{:.0f}'.format
# Correcting dist colmn
dm = df['Distance'].mean()
df['Distance'].fillna(dm , inplace = True)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\710734304.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Distance'].fillna(dm , inplace = True)

In [11]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,NaN,NaN,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [12]:
pcm = df['Postcode'].mean()
df['Postcode'].fillna(pcm , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\165567106.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Postcode'].fillna(pcm , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,NaN,NaN,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [13]:
# property count
ppcm = df['Propertycount'].mean()
df['Propertycount'].fillna(ppcm , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\3333086070.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Propertycount'].fillna(ppcm , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,NaN,NaN,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [15]:
rn = df['Regionname'].mode()[0]
df['Regionname'].fillna(rn , inplace = True)

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\569685190.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Regionname'].fillna(rn , inplace = True)

In [16]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,NaN,NaN,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [17]:
# Bedroom2
bd = df['Bedroom2'].mean()
df['Bedroom2'].fillna(bd , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\44299766.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bedroom2'].fillna(bd , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,NaN,NaN,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [18]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             0
Bedroom2             0
Bathroom          4484
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           0
Propertycount        0
dtype: int64

In [19]:
# Bathroom
br = df['Bathroom'].mean()
df['Bathroom'].fillna(br , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\1909687704.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Bathroom'].fillna(br , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,NaN,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [20]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             0
Bedroom2             0
Bathroom             0
Car               4626
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           0
Propertycount        0
dtype: int64

In [21]:
# Car
c = df['Car'].mean()
df['Car'].fillna(c , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\1191555092.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Car'].fillna(c , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,NaN,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,NaN,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,NaN,139,1950,NaN,-38,145,Western Metropolitan,6543

In [22]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize          6137
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           0
Propertycount        0
dtype: int64

In [23]:
# Landsize
ls = df['Landsize'].mean()
df['Landsize'].fillna(ls , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\4187796824.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Landsize'].fillna(ls , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,NaN,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,NaN,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,NaN,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,NaN,-38,145,Western Metropolitan,6543

In [24]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea     13529
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           0
Propertycount        0
dtype: int64

In [25]:
# BuildingArea
bd = df['BuildingArea'].mean()
df['BuildingArea'].fillna(bd , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\482468714.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BuildingArea'].fillna(bd , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,155,NaN,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,155,NaN,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,155,NaN,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,NaN,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,155,NaN,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,NaN,-38,145,Western Metropolitan,6543

In [26]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price                0
Method               0
SellerG              0
Date                 0
Distance             0
Postcode             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize             0
BuildingArea         0
YearBuilt        12007
CouncilArea       7891
Lattitude         4304
Longtitude        4304
Regionname           0
Propertycount        0
dtype: int64

In [27]:
# YearBuilt
yb = df['YearBuilt'].median()
df['YearBuilt'].fillna(yb , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\1037077532.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['YearBuilt'].fillna(yb , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,155,1970,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,155,1970,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,155,1970,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,NaN,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,1970,NaN,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,155,1970,NaN,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,NaN,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,NaN,-38,145,Western Metropolitan,6543

In [28]:
# CouncilArea
ca = df['CouncilArea'].mode()[0]
df['CouncilArea'].fillna(ca , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\2822287107.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CouncilArea'].fillna(ca , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,155,1970,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,155,1970,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,155,1970,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,Boroondara,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,1970,Boroondara,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,155,1970,Boroondara,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,Boroondara,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,Boroondara,-38,145,Western Metropolitan,6543

In [29]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
YearBuilt           0
CouncilArea         0
Lattitude        4304
Longtitude       4304
Regionname          0
Propertycount       0
dtype: int64

In [30]:
# Lattitude
lt = df['Lattitude'].median()
df['Lattitude'].fillna(lt , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\3300436313.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Lattitude'].fillna(lt , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,155,1970,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,155,1970,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,155,1970,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,Boroondara,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,1970,Boroondara,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,155,1970,Boroondara,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,Boroondara,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,Boroondara,-38,145,Western Metropolitan,6543

In [31]:
# Longititude
ll = df['Longtitude'].mean()
df['Longtitude'].fillna(ll , inplace = True)
df

C:\Users\KIIT\AppData\Local\Temp\ipykernel_37616\1584398633.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Longtitude'].fillna(ll , inplace = True)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,155,1970,Yarra,-38,145,Northern Metropolitan,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,155,1970,Yarra,-38,145,Northern Metropolitan,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,Northern Metropolitan,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,155,1970,Yarra,-38,145,Northern Metropolitan,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,Boroondara,-38,145,Western Metropolitan,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,1970,Boroondara,-38,145,Western Metropolitan,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,155,1970,Boroondara,-38,145,Northern Metropolitan,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,Boroondara,-38,145,Western Metropolitan,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,Boroondara,-38,145,Western Metropolitan,6543

In [32]:
df.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [33]:
# now we will start with encoding 
# doing on regionname
label = LabelEncoder()
df['Regionname'] = label.fit_transform(df['Regionname'])
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,155,1970,Yarra,-38,145,2,4019
1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,155,1970,Yarra,-38,145,2,4019
2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,2,4019
3,Abbotsford,18/659 Victoria St,3,u,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,155,1970,Yarra,-38,145,2,4019
4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,2,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,Boroondara,-38,145,6,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,1970,Boroondara,-38,145,6,5262
23544,Yallambie,17 Amaroo Wy,4,h,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,155,1970,Boroondara,-38,145,2,1369
23545,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,Boroondara,-38,145,6,6543
23546,Yarraville,33 Freeman St,4,h,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,Boroondara,-38,145,6,6543

In [34]:
df['CouncilArea'].unique()

array(['Yarra', 'Boroondara', 'Moonee Valley', 'Port Phillip', 'Darebin',
       'Hobsons Bay', 'Stonnington', 'Monash', 'Glen Eira', 'Whitehorse',
       'Maribyrnong', 'Bayside', 'Moreland', 'Manningham', 'Banyule',
       'Melbourne', 'Kingston', 'Brimbank', 'Hume', 'Knox', 'Maroondah',
       'Casey', 'Melton', 'Greater Dandenong', 'Nillumbik', 'Whittlesea',
       'Cardinia', 'Frankston', 'Macedon Ranges', 'Yarra Ranges',
       'Wyndham', 'Moorabool', 'Unavailable', 'Mitchell'], dtype=object)

In [35]:
# performing label on type 
df['Type'] = label.fit_transform(df['Type'])
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,0,1056697,SS,Jellis,03-09-2016,2,3067,...,1,1,126,155,1970,Yarra,-38,145,2,4019
1,Abbotsford,85 Turner St,2,0,1480000,S,Biggin,03-12-2016,2,3067,...,1,1,202,155,1970,Yarra,-38,145,2,4019
2,Abbotsford,25 Bloomburg St,2,0,1035000,S,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,2,4019
3,Abbotsford,18/659 Victoria St,3,2,1056697,VB,Rounds,04-02-2016,2,3067,...,2,1,0,155,1970,Yarra,-38,145,2,4019
4,Abbotsford,5 Charles St,3,0,1465000,SP,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,2,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,2,1056697,PN,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,Boroondara,-38,145,6,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,0,1056697,S,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,1970,Boroondara,-38,145,6,5262
23544,Yallambie,17 Amaroo Wy,4,0,1100000,S,Buckingham,26-08-2017,13,3085,...,3,2,552,155,1970,Boroondara,-38,145,2,1369
23545,Yarraville,6 Agnes St,4,0,1285000,SP,Village,26-08-2017,6,3013,...,1,1,362,112,1920,Boroondara,-38,145,6,6543
23546,Yarraville,33 Freeman St,4,0,1050000,VB,Village,26-08-2017,6,3013,...,2,2,552,139,1950,Boroondara,-38,145,6,6543

In [36]:
df['Method'].unique()

array(['SS', 'S', 'VB', 'SP', 'PI', 'SN', 'W', 'PN', 'SA'], dtype=object)

In [37]:
# performing label encoding on method column
df['Method'] = label.fit_transform(df['Method'])
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,0,1056697,6,Jellis,03-09-2016,2,3067,...,1,1,126,155,1970,Yarra,-38,145,2,4019
1,Abbotsford,85 Turner St,2,0,1480000,2,Biggin,03-12-2016,2,3067,...,1,1,202,155,1970,Yarra,-38,145,2,4019
2,Abbotsford,25 Bloomburg St,2,0,1035000,2,Biggin,04-02-2016,2,3067,...,1,0,156,79,1900,Yarra,-38,145,2,4019
3,Abbotsford,18/659 Victoria St,3,2,1056697,7,Rounds,04-02-2016,2,3067,...,2,1,0,155,1970,Yarra,-38,145,2,4019
4,Abbotsford,5 Charles St,3,0,1465000,5,Biggin,04-03-2017,2,3067,...,2,0,134,150,1900,Yarra,-38,145,2,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,2,1056697,1,Harcourts,26-08-2017,27,3024,...,1,0,552,119,1990,Boroondara,-38,145,6,5262
23543,Wyndham Vale,19 Dalrymple Bvd,4,0,1056697,2,hockingstuart,26-08-2017,27,3024,...,2,2,552,155,1970,Boroondara,-38,145,6,5262
23544,Yallambie,17 Amaroo Wy,4,0,1100000,2,Buckingham,26-08-2017,13,3085,...,3,2,552,155,1970,Boroondara,-38,145,2,1369
23545,Yarraville,6 Agnes St,4,0,1285000,5,Village,26-08-2017,6,3013,...,1,1,362,112,1920,Boroondara,-38,145,6,6543
23546,Yarraville,33 Freeman St,4,0,1050000,7,Village,26-08-2017,6,3013,...,2,2,552,139,1950,Boroondara,-38,145,6,6543

In [38]:
# applying onehot
onehot = pd.get_dummies(df, columns = ['Suburb', 'SellerG', 'CouncilArea'], dtype = int)

In [39]:
onehot

,Address,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,68 Studley St,2,0,1056697,6,03-09-2016,2,3067,2,1,...,0,0,0,0,0,0,0,0,1,0
1,85 Turner St,2,0,1480000,2,03-12-2016,2,3067,2,1,...,0,0,0,0,0,0,0,0,1,0
2,25 Bloomburg St,2,0,1035000,2,04-02-2016,2,3067,2,1,...,0,0,0,0,0,0,0,0,1,0
3,18/659 Victoria St,3,2,1056697,7,04-02-2016,2,3067,3,2,...,0,0,0,0,0,0,0,0,1,0
4,5 Charles St,3,0,1465000,5,04-03-2017,2,3067,3,2,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,25 Clitheroe Dr,3,2,1056697,1,26-08-2017,27,3024,3,1,...,0,0,0,0,0,0,0,0,0,0
23543,19 Dalrymple Bvd,4,0,1056697,2,26-08-2017,27,3024,3,2,...,0,0,0,0,0,0,0,0,0,0
23544,17 Amaroo Wy,4,0,1100000,2,26-08-2017,13,3085,4,3,...,0,0,0,0,0,0,0,0,0,0
23545,6 Agnes St,4,0,1285000,5,26-08-2017,6,3013,4,1,...,0,0,0,0,0,0,0,0,0,0
23546,33 Freeman St,4,0,1050000,7,26-08-2017,6,3013,4,2,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df.drop('Address' , axis = 1 , inplace = True)

In [41]:
df

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,2,0,1056697,6,Jellis,03-09-2016,2,3067,2,1,1,126,155,1970,Yarra,-38,145,2,4019
1,Abbotsford,2,0,1480000,2,Biggin,03-12-2016,2,3067,2,1,1,202,155,1970,Yarra,-38,145,2,4019
2,Abbotsford,2,0,1035000,2,Biggin,04-02-2016,2,3067,2,1,0,156,79,1900,Yarra,-38,145,2,4019
3,Abbotsford,3,2,1056697,7,Rounds,04-02-2016,2,3067,3,2,1,0,155,1970,Yarra,-38,145,2,4019
4,Abbotsford,3,0,1465000,5,Biggin,04-03-2017,2,3067,3,2,0,134,150,1900,Yarra,-38,145,2,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,3,2,1056697,1,Harcourts,26-08-2017,27,3024,3,1,0,552,119,1990,Boroondara,-38,145,6,5262
23543,Wyndham Vale,4,0,1056697,2,hockingstuart,26-08-2017,27,3024,3,2,2,552,155,1970,Boroondara,-38,145,6,5262
23544,Yallambie,4,0,1100000,2,Buckingham,26-08-2017,13,3085,4,3,2,552,155,1970,Boroondara,-38,145,2,1369
23545,Yarraville,4,0,1285000,5,Village,26-08-2017,6,3013,4,1,1,362,112,1920,Boroondara,-38,145,6,6543
23546,Yarraville,4,0,1050000,7,Village,26-08-2017,6,3013,4,2,2,552,139,1950,Boroondara,-38,145,6,6543

In [42]:
df = onehot
df

,Address,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,68 Studley St,2,0,1056697,6,03-09-2016,2,3067,2,1,...,0,0,0,0,0,0,0,0,1,0
1,85 Turner St,2,0,1480000,2,03-12-2016,2,3067,2,1,...,0,0,0,0,0,0,0,0,1,0
2,25 Bloomburg St,2,0,1035000,2,04-02-2016,2,3067,2,1,...,0,0,0,0,0,0,0,0,1,0
3,18/659 Victoria St,3,2,1056697,7,04-02-2016,2,3067,3,2,...,0,0,0,0,0,0,0,0,1,0
4,5 Charles St,3,0,1465000,5,04-03-2017,2,3067,3,2,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,25 Clitheroe Dr,3,2,1056697,1,26-08-2017,27,3024,3,1,...,0,0,0,0,0,0,0,0,0,0
23543,19 Dalrymple Bvd,4,0,1056697,2,26-08-2017,27,3024,3,2,...,0,0,0,0,0,0,0,0,0,0
23544,17 Amaroo Wy,4,0,1100000,2,26-08-2017,13,3085,4,3,...,0,0,0,0,0,0,0,0,0,0
23545,6 Agnes St,4,0,1285000,5,26-08-2017,6,3013,4,1,...,0,0,0,0,0,0,0,0,0,0
23546,33 Freeman St,4,0,1050000,7,26-08-2017,6,3013,4,2,...,0,0,0,0,0,0,0,0,0,0

In [43]:
# Address colmn dropped
df.drop('Address' , axis = 1 , inplace = True)
df

,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,2,0,1056697,6,03-09-2016,2,3067,2,1,1,...,0,0,0,0,0,0,0,0,1,0
1,2,0,1480000,2,03-12-2016,2,3067,2,1,1,...,0,0,0,0,0,0,0,0,1,0
2,2,0,1035000,2,04-02-2016,2,3067,2,1,0,...,0,0,0,0,0,0,0,0,1,0
3,3,2,1056697,7,04-02-2016,2,3067,3,2,1,...,0,0,0,0,0,0,0,0,1,0
4,3,0,1465000,5,04-03-2017,2,3067,3,2,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,1056697,1,26-08-2017,27,3024,3,1,0,...,0,0,0,0,0,0,0,0,0,0
23543,4,0,1056697,2,26-08-2017,27,3024,3,2,2,...,0,0,0,0,0,0,0,0,0,0
23544,4,0,1100000,2,26-08-2017,13,3085,4,3,2,...,0,0,0,0,0,0,0,0,0,0
23545,4,0,1285000,5,26-08-2017,6,3013,4,1,1,...,0,0,0,0,0,0,0,0,0,0
23546,4,0,1050000,7,26-08-2017,6,3013,4,2,2,...,0,0,0,0,0,0,0,0,0,0

In [44]:
# changing tha date type and extracting the year 
df['Date']=pd.to_datetime(df['Date'],dayfirst=True)
df['year']=df['Date'].dt.year

In [45]:
df

,Rooms,Type,Price,Method,Date,Distance,Postcode,Bedroom2,Bathroom,Car,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,year
0,2,0,1056697,6,2016-09-03,2,3067,2,1,1,...,0,0,0,0,0,0,0,1,0,2016
1,2,0,1480000,2,2016-12-03,2,3067,2,1,1,...,0,0,0,0,0,0,0,1,0,2016
2,2,0,1035000,2,2016-02-04,2,3067,2,1,0,...,0,0,0,0,0,0,0,1,0,2016
3,3,2,1056697,7,2016-02-04,2,3067,3,2,1,...,0,0,0,0,0,0,0,1,0,2016
4,3,0,1465000,5,2017-03-04,2,3067,3,2,0,...,0,0,0,0,0,0,0,1,0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,1056697,1,2017-08-26,27,3024,3,1,0,...,0,0,0,0,0,0,0,0,0,2017
23543,4,0,1056697,2,2017-08-26,27,3024,3,2,2,...,0,0,0,0,0,0,0,0,0,2017
23544,4,0,1100000,2,2017-08-26,13,3085,4,3,2,...,0,0,0,0,0,0,0,0,0,2017
23545,4,0,1285000,5,2017-08-26,6,3013,4,1,1,...,0,0,0,0,0,0,0,0,0,2017
23546,4,0,1050000,7,2017-08-26,6,3013,4,2,2,...,0,0,0,0,0,0,0,0,0,2017

In [46]:
# here i have dropped date after extracting year and colmn have been added
df.drop('Date' , axis = 1 , inplace = True)

In [47]:
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,year
0,2,0,1056697,6,2,3067,2,1,1,126,...,0,0,0,0,0,0,0,1,0,2016
1,2,0,1480000,2,2,3067,2,1,1,202,...,0,0,0,0,0,0,0,1,0,2016
2,2,0,1035000,2,2,3067,2,1,0,156,...,0,0,0,0,0,0,0,1,0,2016
3,3,2,1056697,7,2,3067,3,2,1,0,...,0,0,0,0,0,0,0,1,0,2016
4,3,0,1465000,5,2,3067,3,2,0,134,...,0,0,0,0,0,0,0,1,0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,1056697,1,27,3024,3,1,0,552,...,0,0,0,0,0,0,0,0,0,2017
23543,4,0,1056697,2,27,3024,3,2,2,552,...,0,0,0,0,0,0,0,0,0,2017
23544,4,0,1100000,2,13,3085,4,3,2,552,...,0,0,0,0,0,0,0,0,0,2017
23545,4,0,1285000,5,6,3013,4,1,1,362,...,0,0,0,0,0,0,0,0,0,2017
23546,4,0,1050000,7,6,3013,4,2,2,552,...,0,0,0,0,0,0,0,0,0,2017

In [48]:
# Findiing the current year 
import datetime
current_year = datetime.datetime.now().year
print(current_year)

2026

In [50]:
# Adding the colmn duration
df['Duration'] = current_year - df['year']
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,year,Duration
0,2,0,1056697,6,2,3067,2,1,1,126,...,0,0,0,0,0,0,1,0,2016,10
1,2,0,1480000,2,2,3067,2,1,1,202,...,0,0,0,0,0,0,1,0,2016,10
2,2,0,1035000,2,2,3067,2,1,0,156,...,0,0,0,0,0,0,1,0,2016,10
3,3,2,1056697,7,2,3067,3,2,1,0,...,0,0,0,0,0,0,1,0,2016,10
4,3,0,1465000,5,2,3067,3,2,0,134,...,0,0,0,0,0,0,1,0,2017,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,1056697,1,27,3024,3,1,0,552,...,0,0,0,0,0,0,0,0,2017,9
23543,4,0,1056697,2,27,3024,3,2,2,552,...,0,0,0,0,0,0,0,0,2017,9
23544,4,0,1100000,2,13,3085,4,3,2,552,...,0,0,0,0,0,0,0,0,2017,9
23545,4,0,1285000,5,6,3013,4,1,1,362,...,0,0,0,0,0,0,0,0,2017,9
23546,4,0,1050000,7,6,3013,4,2,2,552,...,0,0,0,0,0,0,0,0,2017,9

In [51]:
# dropped the year column
df.drop('year' , axis = 1 , inplace = True)

In [52]:
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Duration
0,2,0,1056697,6,2,3067,2,1,1,126,...,0,0,0,0,0,0,0,1,0,10
1,2,0,1480000,2,2,3067,2,1,1,202,...,0,0,0,0,0,0,0,1,0,10
2,2,0,1035000,2,2,3067,2,1,0,156,...,0,0,0,0,0,0,0,1,0,10
3,3,2,1056697,7,2,3067,3,2,1,0,...,0,0,0,0,0,0,0,1,0,10
4,3,0,1465000,5,2,3067,3,2,0,134,...,0,0,0,0,0,0,0,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,1056697,1,27,3024,3,1,0,552,...,0,0,0,0,0,0,0,0,0,9
23543,4,0,1056697,2,27,3024,3,2,2,552,...,0,0,0,0,0,0,0,0,0,9
23544,4,0,1100000,2,13,3085,4,3,2,552,...,0,0,0,0,0,0,0,0,0,9
23545,4,0,1285000,5,6,3013,4,1,1,362,...,0,0,0,0,0,0,0,0,0,9
23546,4,0,1050000,7,6,3013,4,2,2,552,...,0,0,0,0,0,0,0,0,0,9

In [53]:
# now moving to normalizing
from sklearn.preprocessing import StandardScaler

In [54]:
scaler = StandardScaler()

In [55]:
# std the price column
df['Price'] = scaler.fit_transform(df[['Price']])

In [56]:
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Duration
0,2,0,0,6,2,3067,2,1,1,126,...,0,0,0,0,0,0,0,1,0,10
1,2,0,1,2,2,3067,2,1,1,202,...,0,0,0,0,0,0,0,1,0,10
2,2,0,-0,2,2,3067,2,1,0,156,...,0,0,0,0,0,0,0,1,0,10
3,3,2,0,7,2,3067,3,2,1,0,...,0,0,0,0,0,0,0,1,0,10
4,3,0,1,5,2,3067,3,2,0,134,...,0,0,0,0,0,0,0,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,0,1,27,3024,3,1,0,552,...,0,0,0,0,0,0,0,0,0,9
23543,4,0,0,2,27,3024,3,2,2,552,...,0,0,0,0,0,0,0,0,0,9
23544,4,0,0,2,13,3085,4,3,2,552,...,0,0,0,0,0,0,0,0,0,9
23545,4,0,0,5,6,3013,4,1,1,362,...,0,0,0,0,0,0,0,0,0,9
23546,4,0,-0,7,6,3013,4,2,2,552,...,0,0,0,0,0,0,0,0,0,9

In [57]:
# now on postcode colmn
df['Postcode'] = scaler.fit_transform(df[['Postcode']])

In [58]:
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Duration
0,2,0,0,6,2,-0,2,1,1,126,...,0,0,0,0,0,0,0,1,0,10
1,2,0,1,2,2,-0,2,1,1,202,...,0,0,0,0,0,0,0,1,0,10
2,2,0,-0,2,2,-0,2,1,0,156,...,0,0,0,0,0,0,0,1,0,10
3,3,2,0,7,2,-0,3,2,1,0,...,0,0,0,0,0,0,0,1,0,10
4,3,0,1,5,2,-0,3,2,0,134,...,0,0,0,0,0,0,0,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,0,1,27,-1,3,1,0,552,...,0,0,0,0,0,0,0,0,0,9
23543,4,0,0,2,27,-1,3,2,2,552,...,0,0,0,0,0,0,0,0,0,9
23544,4,0,0,2,13,-0,4,3,2,552,...,0,0,0,0,0,0,0,0,0,9
23545,4,0,0,5,6,-1,4,1,1,362,...,0,0,0,0,0,0,0,0,0,9
23546,4,0,-0,7,6,-1,4,2,2,552,...,0,0,0,0,0,0,0,0,0,9

In [59]:
# now on landsize colmn
df['Landsize'] = scaler.fit_transform(df[['Landsize']])

In [60]:
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Duration
0,2,0,0,6,2,-0,2,1,1,-0,...,0,0,0,0,0,0,0,1,0,10
1,2,0,1,2,2,-0,2,1,1,-0,...,0,0,0,0,0,0,0,1,0,10
2,2,0,-0,2,2,-0,2,1,0,-0,...,0,0,0,0,0,0,0,1,0,10
3,3,2,0,7,2,-0,3,2,1,-0,...,0,0,0,0,0,0,0,1,0,10
4,3,0,1,5,2,-0,3,2,0,-0,...,0,0,0,0,0,0,0,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,0,1,27,-1,3,1,0,0,...,0,0,0,0,0,0,0,0,0,9
23543,4,0,0,2,27,-1,3,2,2,-0,...,0,0,0,0,0,0,0,0,0,9
23544,4,0,0,2,13,-0,4,3,2,-0,...,0,0,0,0,0,0,0,0,0,9
23545,4,0,0,5,6,-1,4,1,1,-0,...,0,0,0,0,0,0,0,0,0,9
23546,4,0,-0,7,6,-1,4,2,2,-0,...,0,0,0,0,0,0,0,0,0,9

In [61]:
# now on distance colmn
df['Distance'] = scaler.fit_transform(df[['Distance']])

In [62]:
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Duration
0,2,0,0,6,-1,-0,2,1,1,-0,...,0,0,0,0,0,0,0,1,0,10
1,2,0,1,2,-1,-0,2,1,1,-0,...,0,0,0,0,0,0,0,1,0,10
2,2,0,-0,2,-1,-0,2,1,0,-0,...,0,0,0,0,0,0,0,1,0,10
3,3,2,0,7,-1,-0,3,2,1,-0,...,0,0,0,0,0,0,0,1,0,10
4,3,0,1,5,-1,-0,3,2,0,-0,...,0,0,0,0,0,0,0,1,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,0,1,3,-1,3,1,0,0,...,0,0,0,0,0,0,0,0,0,9
23543,4,0,0,2,3,-1,3,2,2,-0,...,0,0,0,0,0,0,0,0,0,9
23544,4,0,0,2,0,-0,4,3,2,-0,...,0,0,0,0,0,0,0,0,0,9
23545,4,0,0,5,-1,-1,4,1,1,-0,...,0,0,0,0,0,0,0,0,0,9
23546,4,0,-0,7,-1,-1,4,2,2,-0,...,0,0,0,0,0,0,0,0,0,9

In [63]:
# now on duration colmn
df['Duration'] = scaler.fit_transform(df[['Duration']])

In [64]:
df

,Rooms,Type,Price,Method,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Duration
0,2,0,0,6,-1,-0,2,1,1,-0,...,0,0,0,0,0,0,0,1,0,1
1,2,0,1,2,-1,-0,2,1,1,-0,...,0,0,0,0,0,0,0,1,0,1
2,2,0,-0,2,-1,-0,2,1,0,-0,...,0,0,0,0,0,0,0,1,0,1
3,3,2,0,7,-1,-0,3,2,1,-0,...,0,0,0,0,0,0,0,1,0,1
4,3,0,1,5,-1,-0,3,2,0,-0,...,0,0,0,0,0,0,0,1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,0,1,3,-1,3,1,0,0,...,0,0,0,0,0,0,0,0,0,-1
23543,4,0,0,2,3,-1,3,2,2,-0,...,0,0,0,0,0,0,0,0,0,-1
23544,4,0,0,2,0,-0,4,3,2,-0,...,0,0,0,0,0,0,0,0,0,-1
23545,4,0,0,5,-1,-1,4,1,1,-0,...,0,0,0,0,0,0,0,0,0,-1
23546,4,0,-0,7,-1,-1,4,2,2,-0,...,0,0,0,0,0,0,0,0,0,-1

In [67]:
# now on postcode colmn
df.drop(columns=['Propertycount' , 'Distance' , 'Lattitude', 'YearBuilt'] , axis = 1 , inplace = True)

In [68]:
df

,Rooms,Type,Price,Method,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,...,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges,Duration
0,2,0,0,6,-0,2,1,1,-0,155,...,0,0,0,0,0,0,0,1,0,1
1,2,0,1,2,-0,2,1,1,-0,155,...,0,0,0,0,0,0,0,1,0,1
2,2,0,-0,2,-0,2,1,0,-0,79,...,0,0,0,0,0,0,0,1,0,1
3,3,2,0,7,-0,3,2,1,-0,155,...,0,0,0,0,0,0,0,1,0,1
4,3,0,1,5,-0,3,2,0,-0,150,...,0,0,0,0,0,0,0,1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,3,2,0,1,-1,3,1,0,0,119,...,0,0,0,0,0,0,0,0,0,-1
23543,4,0,0,2,-1,3,2,2,-0,155,...,0,0,0,0,0,0,0,0,0,-1
23544,4,0,0,2,-0,4,3,2,-0,155,...,0,0,0,0,0,0,0,0,0,-1
23545,4,0,0,5,-1,4,1,1,-0,112,...,0,0,0,0,0,0,0,0,0,-1
23546,4,0,-0,7,-1,4,2,2,-0,139,...,0,0,0,0,0,0,0,0,0,-1

In [69]:
df.isna().sum()

Rooms                       0
Type                        0
Price                       0
Method                      0
Postcode                    0
                           ..
CouncilArea_Whittlesea      0
CouncilArea_Wyndham         0
CouncilArea_Yarra           0
CouncilArea_Yarra Ranges    0
Duration                    0
Length: 713, dtype: int64