In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn import datasets
dir(datasets)

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_arff_parser',
 '_base',
 '_california_housing',
 '_covtype',
 '_kddcup99',
 '_lfw',
 '_olivetti_faces',
 '_openml',
 '_rcv1',
 '_samples_generator',
 '_species_distributions',
 '_svmlight_format_fast',
 '_svmlight_format_io',
 '_twenty_newsgroups',
 'clear_data_home',
 'dump_svmlight_file',
 'fetch_20newsgroups',
 'fetch_20newsgroups_vectorized',
 'fetch_california_housing',
 'fetch_covtype',
 'fetch_file',
 'fetch_kddcup99',
 'fetch_lfw_pairs',
 'fetch_lfw_people',
 'fetch_olivetti_faces',
 'fetch_openml',
 'fetch_rcv1',
 'fetch_species_distributions',
 'get_data_home',
 'load_breast_cancer',
 'load_diabetes',
 'load_digits',
 'load_files',
 'load_iris',
 'load_linnerud',
 'load_sample_image',
 'load_sample_images',
 'load_svmlight_file',
 'load_svmlight_files',
 'load_wine',
 'make_biclusters',
 'make_blobs',
 'make_checkerboard',
 'make_circles',
 'make_classification',
 'make_friedman1',
 'make_friedman2',
 'make_friedman3',
 'make_gaussian_quantiles',
 'make_hastie_10_2',
 'make_low_rank_matrix',
 'make_moons',
 'make_multilabel_classification',
 'make_regression',
 'make_s_curve',
 'make_sparse_coded_signal',
 'make_sparse_spd_matrix',
 'make_sparse_uncorrelated',
 'make_spd_matrix',
 'make_swiss_roll',
 'textwrap']

In [13]:
# Creating dataset
data = {
    "Name": ["Aman","Riya","Rahul","Sneha","Arjun","Pooja","Karan","Neha","Vikram","Anjali"],
    "Gender": ["Male","Female","Male","Female","Male","Female","Male","Female","Male","Female"],
    "Department": ["CSE","IT","ECE","CSE","ME","IT","CSE","ECE","ME","CSE"],
    "City": ["Delhi","Mumbai","Kolkata","Delhi","Chennai","Mumbai","Delhi","Kolkata","Chennai","Delhi"],
    "Performance": ["Good","Average","Poor","Good","Average","Good","Good","Average","Poor","Good"]
}

df = pd.DataFrame(data)

print("Dataset Created Successfully:\n")
print(df)

Dataset Created Successfully:

     Name  Gender Department     City Performance
0    Aman    Male        CSE    Delhi        Good
1    Riya  Female         IT   Mumbai     Average
2   Rahul    Male        ECE  Kolkata        Poor
3   Sneha  Female        CSE    Delhi        Good
4   Arjun    Male         ME  Chennai     Average
5   Pooja  Female         IT   Mumbai        Good
6   Karan    Male        CSE    Delhi        Good
7    Neha  Female        ECE  Kolkata     Average
8  Vikram    Male         ME  Chennai        Poor
9  Anjali  Female        CSE    Delhi        Good

label Emcoding

In [14]:
le = LabelEncoder()
df["Gender"] = le.fit_transform(df["Gender"])
# df["Department"] = le.fit_transform(df["Department"])
df

     Name  Gender Department     City Performance
0    Aman       1        CSE    Delhi        Good
1    Riya       0         IT   Mumbai     Average
2   Rahul       1        ECE  Kolkata        Poor
3   Sneha       0        CSE    Delhi        Good
4   Arjun       1         ME  Chennai     Average
5   Pooja       0         IT   Mumbai        Good
6   Karan       1        CSE    Delhi        Good
7    Neha       0        ECE  Kolkata     Average
8  Vikram       1         ME  Chennai        Poor
9  Anjali       0        CSE    Delhi        Good

OneHot Encoding

In [15]:
oh = OneHotEncoder(sparse_output = False)
data = oh.fit_transform(df[["Department"]])
name = oh.get_feature_names_out()
encode_df = pd.DataFrame(data,columns = name)
encode_df

   Department_CSE  Department_ECE  Department_IT  Department_ME
0             1.0             0.0            0.0            0.0
1             0.0             0.0            1.0            0.0
2             0.0             1.0            0.0            0.0
3             1.0             0.0            0.0            0.0
4             0.0             0.0            0.0            1.0
5             0.0             0.0            1.0            0.0
6             1.0             0.0            0.0            0.0
7             0.0             1.0            0.0            0.0
8             0.0             0.0            0.0            1.0
9             1.0             0.0            0.0            0.0

In [16]:
# concat the new data frame
df = pd.concat([df, encode_df], axis=1)
df

,Name,Gender,Department,City,Performance,Department_CSE,Department_ECE,Department_IT,Department_ME
0,Aman,1,CSE,Delhi,Good,1.0,0.0,0.0,0.0
1,Riya,0,IT,Mumbai,Average,0.0,0.0,1.0,0.0
2,Rahul,1,ECE,Kolkata,Poor,0.0,1.0,0.0,0.0
3,Sneha,0,CSE,Delhi,Good,1.0,0.0,0.0,0.0
4,Arjun,1,ME,Chennai,Average,0.0,0.0,0.0,1.0
5,Pooja,0,IT,Mumbai,Good,0.0,0.0,1.0,0.0
6,Karan,1,CSE,Delhi,Good,1.0,0.0,0.0,0.0
7,Neha,0,ECE,Kolkata,Average,0.0,1.0,0.0,0.0
8,Vikram,1,ME,Chennai,Poor,0.0,0.0,0.0,1.0
9,Anjali,0,CSE,Delhi,Good,1.0,0.0,0.0,0.0

In [17]:
# dropping the dept colmn

df.drop("Department", axis=1, inplace=True)
df
#

,Name,Gender,City,Performance,Department_CSE,Department_ECE,Department_IT,Department_ME
0,Aman,1,Delhi,Good,1.0,0.0,0.0,0.0
1,Riya,0,Mumbai,Average,0.0,0.0,1.0,0.0
2,Rahul,1,Kolkata,Poor,0.0,1.0,0.0,0.0
3,Sneha,0,Delhi,Good,1.0,0.0,0.0,0.0
4,Arjun,1,Chennai,Average,0.0,0.0,0.0,1.0
5,Pooja,0,Mumbai,Good,0.0,0.0,1.0,0.0
6,Karan,1,Delhi,Good,1.0,0.0,0.0,0.0
7,Neha,0,Kolkata,Average,0.0,1.0,0.0,0.0
8,Vikram,1,Chennai,Poor,0.0,0.0,0.0,1.0
9,Anjali,0,Delhi,Good,1.0,0.0,0.0,0.0

Ordinal Encoding

In [19]:
oe = OrdinalEncoder(categories=[["Poor","Average","Good"]])
df["Performance_encoded"] = oe.fit_transform(df[["Performance"]])
df

,Name,Gender,City,Performance,Department_CSE,Department_ECE,Department_IT,Department_ME,Performance_encoded
0,Aman,1,Delhi,Good,1.0,0.0,0.0,0.0,2.0
1,Riya,0,Mumbai,Average,0.0,0.0,1.0,0.0,1.0
2,Rahul,1,Kolkata,Poor,0.0,1.0,0.0,0.0,0.0
3,Sneha,0,Delhi,Good,1.0,0.0,0.0,0.0,2.0
4,Arjun,1,Chennai,Average,0.0,0.0,0.0,1.0,1.0
5,Pooja,0,Mumbai,Good,0.0,0.0,1.0,0.0,2.0
6,Karan,1,Delhi,Good,1.0,0.0,0.0,0.0,2.0
7,Neha,0,Kolkata,Average,0.0,1.0,0.0,0.0,1.0
8,Vikram,1,Chennai,Poor,0.0,0.0,0.0,1.0,0.0
9,Anjali,0,Delhi,Good,1.0,0.0,0.0,0.0,2.0